.Container {
    display: flex;
    flex-wrap: wrap;
    margin: 11rem 2rem 5rem 15rem;
    z-index: 2;
    gap: 2rem;
}

.img_container {
    border: 2px solid rgb(226, 224, 224);
    width: 200px;
    position: relative;
    padding: 2px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0.4px rgb(226, 224, 224);
}

.img_container img {
    background: linear-gradient(to left rgba(228, 234, 234, 0.678));
    z-index: 2;
    width: 80%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
}

.star {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 4px 0px 4px;
}
.icon{
    display: flex;
    align-items: center;
    margin: 0 6px 0 0.5px;
}
span{
    margin: 0 4px 0 0.5px;
}
.reviews {
    display: flex;
    justify-content: center;
    align-items: center;

}

.price_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 21px 0 21px;
}

.price {
    display: flex;
    width: 80px;
    justify-content: space-around;
}

.packet {
    font-size: 1.2rem;
    font-family: sans-serif;
}
