.square {
    margin: 40px 5px 20px 5px;
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: beige;
}

.smallSize {
    display: flex;

    position: absolute;
    width: 160px;
    right: 0px;
    top: 20px;
}

span {
    margin: 4px 4px 4px 4px;
    padding: 0 4px 0 4px;
    background: whitesmoke;
}