button{
    width: 100px;
    height: 30px;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 500px;
    margin: 4px;
    background-color: rgba(247, 241, 241, 0.868);
    outline: none;
    border: none;
    box-shadow: 2px 2px 2px 0.2px rgba(169, 168, 168, 0.814);
}
button:active{
    scale: 0.97;
}