*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}
@media (max-aspect-ratio:16/9){
    video{
        width: auto;
        height: 100%;
    }
}
@media (min-aspect-ratio:16/9){
    video{
        width: 100%;
        height: auto;
    }
}
.text{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    font-size: 1.3rem;
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: none;
}
h1{
    color: chartreuse;
}
span{
    color: yellow;
}
