* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.648);
    position: relative;
}

header {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(0, 0, 0);
    width: 350px;
    height: 350px;
    box-shadow: 0 1px 1px 0.1px black,0 2px 2px 0.2px black,0 3px 3px 0.3px black,0 4px 4px 0.4px black,0 5px 5px 0.5px black;

}

.container {
    position: fixed;
    width: 330px;
    height: 43px;
    margin: 6px 0px 6px 0px;
    left: 8.5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
}
.icon{
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%,-50%);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    position: absolute;
    right: 20px;
    top: 49%;
    width: 17px;
    height: 17px;
    background-color: blue;
    transform: rotate(45deg) translate(-50%, -50%);
    transition: all 0.5s;
    background-color: black;
    pointer-events: all;
}
p{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: sans-serif;
    font-size: 1.1rem;
}

.nav::before {
    content: "";
    width: 85%;
    height: 85%;
    position: absolute;
    top: 38%;
    left: 38%;
    transform: translate(-50%, -50%);
    background-color: white;
    pointer-events: none;

}
.nav.active{
    top: 4%;
    background-color: blue;
    transform: rotate(224deg) translate(-50%, -50%);
}
.list_container{
    margin-top: 71px;
    width: 100%;
    height: 278px;
    position: relative;
    display: block;
}
.list_container.active{
    display: none;
}
ul{
    
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0 4px 10%;
    color: white;
    cursor:pointer;
}
ul.active{
    color: black;
}

li{
    list-style: none;
    margin: 0px 6px 0px 6px;
    font-family: sans-serif;
    font-size: 1.1rem;
}
.fa{
    font-family: sans-serif;
    font-size: 1.6rem;
}
.facebook-icon {
    color: #004ef8; /* Facebook blue color */
  }
  
  .instagram-icon {
    color: #c13584; /* Instagram gradient color */
  }
  
  .pinterest-icon {
    color: #bd081c; /* Pinterest red color */
  }
  
  .twitter-icon {
    color: #1da1f2; /* Twitter blue color */
  }
  
  .whatsapp-icon {
    color: #25d366; /* Whatsapp green color */
  }
  
  .youtube-icon {
    color: #ff0000; /* Youtube red color */
  }
  .high_light{
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;
    z-index: -1;
  }